@model TaskList2.Models.Thing

@{
    ViewData["Title"] = "Details";
}

<h3>詳細</h3>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Process)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Process)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">編集へ</a> |
    <a asp-action="Index">戻る</a>
</div>
